<div class="panel panel-default">
  <div class="panel-heading">
    リクエスト一覧
  </div>
    
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.tipe %></span>
      <%= message.media %>
      <%= message.start %>
      <%= message.finish %>
      <%= message.rink %>
      <br>
    <% end %>
  </div>
</div>

<%= form_for(@message) do |f| %>
  広告種別:
  <%= f.text_field :tipe %>

  媒体種別:
  <%= f.text_field :media %>
  
  出稿開始日:
  <%= f.text_field :start %>
  
  出稿終了日:
  <%= f.text_field :finish %>
  
  リンク先URL:
  <%= f.text_field :rink %>

  <%= f.submit %>
<% end %>